.App {
    display: flex;
    align-items: stretch;
}
.App nav {
    width: 25%;
    height: 100vh;
    overflow: auto;
    background-color: #efefef;
}
.App nav ul {
    display: block;
    margin: 0;
    padding: 0;
}
.App nav ul li {
    display: block;
}
.App nav ul li a {
    display: block;
    text-decoration: none;
    color: dodgerblue;
    padding: 1rem 1.5rem;
}
.App nav ul li a:hover {
    background-color: #ffffff
}
.App main {
    width: 75%;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
    padding: 2rem;
}
